.search{
    width: 45%;
    padding: 6px;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: black;
    font-size: medium;
    margin-bottom: 10px;
    border: solid black 1px;
}

.divSearchBar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}